<head>
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link href="styles.css" rel="stylesheet" />
    <title>404 | URL not found</title>
    <link rel="icon" href="logo.png" />
    <script>
        const onHomeClick = () => {
            window.open("https://shorty--urls.herokuapp.com/", "_self");
        };
    </script>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <div class="mainbox">
        <div class="div_404">
            <div class="div_4">4</div>
            <div class="div_spinner">
                <i class="far fa-question-circle fa-spin"></i>
            </div>
            <div class="div_4">4</div>
        </div>
        <div class="msg">
            <p>URL not found</p>
            <div class="home_btn" onclick="onHomeClick()">Go to home</div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
