<head>
    <link href="styles.css" rel="stylesheet" />
    <title><%= message %></title>
    <link rel="icon" href="logo.png" />
    <script>
        const onHomeClick = () => {
            window.open("https://shorty--urls.herokuapp.com/", "_self");
        };
    </script>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <div class="mainbox">
        <div class="msg">
            <p><%= message %></p>
            <div class="home_btn" onclick="onHomeClick()">Go to home</div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
